/* Base */
/* ----------------------------------------------------------*/

/* Border for testing dom */ 
.border {
    border: 2px solid rgba(255,255,255,.5);
}

/* Color overrides */
.bg-black {
    background-color: #070707;
}

.bw-filter {
	filter: grayscale(100%);
}

/* Fonts and colors just for me */
body {
    background-image: url(../images/background_static_small.png);
    background-size: 400px 400px;
    background-repeat: repeat;
    background-color: #070707;
    color: #EEE;
    font-family: 'Tenor Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Tenor Sans', sans-serif;   
}

.bh1 {
    font-size: 3.5rem;
}

.rotate-5r {
  transform: rotate(5deg);
}

.rotate-5l {
  transform: rotate(-5deg);
}

/* Overrides of BASSCSS default */
.underline {
	text-decoration: underline; !important
}

.icon {
    width: 1em;
    height: 1em;
    position: relative;
    top: -.125em;
    vertical-align: middle;
    fill: currentcolor;
}

/* Making articles more readable */
article p {
    font-size: 1.25em;
    line-height: 1.75em;
    letter-spacing: .01rem;
    font-weight: 200;
}

/* Mobile Styles */
/* ----------------------------------------------------------*/
@media (max-width:52em) {
    .h1, h1 { font-size: 1.5rem; }
    .bh1 { font-size: 2rem; }
}
@media (max-width:40em) {
    .h1, h1 { font-size: 1.5rem; }
    .bh1 { font-size: 2rem; }
}
