<header class="site-header fixed full-width bg-black z2">
    <!-- Large nav -->
    <div class="md-show">
        <nav class="flex flex-center py2 px2">
                <a class="mr3 bold white" href="{{ site.baseurl }}/">
                    <img class="block" height="50px" width="50px" src="/images/smiley_mark.svg" alt="Smile™">
                </a>
               {% for item in site.data.navigation_list.docs %}
                  <a class="mr3 white h3 {% if item.title == page.title %}underline{% endif %}" href="{{ item.url }}">{{ item.title }}</a>
               {% endfor %}
        </nav>
    </div>
    <!-- Small nav -->
    <nav class="flex flex-center py2 px2 md-hide">
        <a class="flex-auto inline-block bold white" href="{{ site.baseurl }}/">
            <img class="block" height="35px" width="35px" src="/images/smiley_mark.svg" alt="Smile™">
        </a>
       {% for item in site.data.navigation_list.docs %}
          <a class="ml3 white h4 {% if item.title == page.title %}underline{% endif %}" href="{{ item.url }}">{{ item.title }}</a>
       {% endfor %}

    </nav>
</header>
