@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(http://fonts.googleapis.com/css?family=Vollkorn);

body {
	margin: 10px 0 0 0;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.container {
	margin: 0 auto;
}

.banner {
	font-family: 'Oswald', Arial, sans-serif;
	font-weight: 300;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}
.banner .span12:before, .banner .span12:after {
	content: "";
	position: absolute;
	top: 24px;
	width: 40%;
	height: 1px;
	border-top: 1px dotted #DDDDDD;
}
.banner .span12:before {
	right: 0;
}
.banner .span12:after {
	left: 0;
}

.banner h1 {
	font-weight: 400;
}

.banner h4 {
	color: #A8A8A8;
	font-weight: 300;
	letter-spacing: 1;
}
.banner h4 span:first-of-type {
	margin-right: 25px;
}
.hearts {
	position: relative;
	font-size: 50px;
	display: block;
	width: 120px;
	height: 50px;
	margin: 0 auto;
}
.icon-heart {
	position: absolute;
	right: 23px;
	color: #00ADFF;
	opacity: 0.5;
}
	.icon-heart:first-of-type {
		left: 23px;
		right: inherit;
		color: #FF1559;
		opacity: 0.5;
	}


/* Photo Band */
.photos {
	/*position: relative;*/
}
.photo-band {
	/*position: absolute;*/
	background-color: #EEE;
	width: 100%;
	height: 250px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.photo-band:before {
	content: "";
	display: block;
	width: 100%;
	height: 240px;
	border-top: 5px solid rgba(68, 68, 68, 0.1);
	border-bottom: 5px solid rgba(68, 68, 68, 0.1);
}

/* Story of Us */
.story {
	/*font-family: 'Vollkorn', serif;*/
	margin-top: 15px;
	font-size: 18px;
	/*letter-spacing: 1;*/
	line-height: 26px;
}

.maps ul {
	margin: 0;
	padding: 0;
}
	.maps ul li {
		list-style: none;
	}

.maps .map {
	background: #EEE;
	height: 200px;
}

.activities {
	text-align: center;
}
.footer {
	text-align: center;
}
.footer ul {
	margin: 0;
	padding: 0;
}
.footer ul li {
	list-style: none;
}